 :root {
   --font-40: 40px;
   --font-15: 15px;
   --font-25: 25px;
   --font-18: 18px;
   --color-219653: #219653;
   --color-C4C4C4: #C4C4C4;
   --color-6FCF97: #6FCF97;
 }

 /* ==============North Dakota=== */
 .north-dakota {

   font-weight: 600;
   font-size: var(--font-40);
 }

 .specification {
   font-size: var(--font-18);
   font-weight: 600;
   border-radius: 15px;
   background-color: var(--color-219653);
   color: white;
   border: 2px solid var(--color-219653);
   ;
 }

 .para {
   line-height: 22.5px;
   font-size: var(--font-15);
 }

 .highlishts {
   color: var(--color-219653);
 }

 .buy-sell {
   border: 2px solid var(--color-219653) !important;
   font-weight: 600;
   font-size: var(--font-22);
   border: 0;
   border-radius: 20px;
   color: white;
   background-color: var(--color-219653);
 }

 .tokens {
   font-size: var(--font-18);
   font-weight: 700;
 }

 .progress {
   border-radius: 20px;
   background-color: var(--color-C4C4C4);
 }

 .progress-bars {
   border-radius: 20px;
   background-color: var(--color-219653) !important;
 }

 /* ==============Investment Summary=== */
 .bar-details-heading {
   font-size: var(--font-20);
   font-weight: 600;
 }

 .bar-details {
   font-size: var(--font-20);
   font-weight: 400;
 }

 .color-6FCF97 {
   color: var(--color-6FCF97);
 }

 /* =============location ===============*/
 .location {
   font-size: var(--font-20);
   font-weight: 600;
 }

 .br-20 {
   border-radius: 20px;
 }

 .green-btn-hover:hover {
   transition: background-color 0.5s;
   border: 2px solid var(--color-219653);
   background-color: #fff;
   color: var(--color-6FCF97);
 }

 .green-outline-btn-hover:hover {
   transition: background-color 0.5s;
   border: 2px solid var(--color-6FCF97);
   background-color: var(--color-6FCF97);
   color: white;
 }